Importing Libs

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

Read CSV

In [8]:
data = pd.read_csv("../data/raw_data_salesforce.csv")

Data Head

In [11]:
data.head(6)

,Unnamed: 0,Transaction_ID,Date,Customer ID,Gender,Age,Product Category,Quantity,Price per Unit,Total Amount
0,0,1,24/11/23,CUST001,Male,34.0,Beauty,3.0,50.0,150.0
1,1,2,27/2/23,CUST002,Female,26.0,Clothing,2.0,500.0,1000.0
2,2,3,13/1/23,CUST003,Male,50.0,Electronics,1.0,30.0,30.0
3,3,4,20/4/23,CUST004,Female,5.0,NaN,1.0,20.0,20.0
4,4,5,21/5/23,CUST005,Male,37.0,Clothing,1.0,500.0,500.0
5,5,6,6/5/23,CUST006,Male,30.0,Beauty,2.0,50.0,100.0

How many data do we have ?

In [16]:
data.count()

Unnamed: 0          1050
Transaction_ID      1050
Date                1050
Customer ID         1050
Gender              1034
Age                 1014
Product Category    1042
Quantity            1013
Price per Unit      1011
Total Amount        1009
dtype: int64

Its seems that we have lots of missing values:

In [14]:
data.isna().sum()

Unnamed: 0           0
Transaction_ID       0
Date                 0
Customer ID          0
Gender              16
Age                 36
Product Category     8
Quantity            37
Price per Unit      39
Total Amount        41
dtype: int64